@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary */
  --blue: hsl(246, 80%, 60%);
  --orange: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --red: hsl(348, 100%, 68%);
  --green: hsl(145, 58%, 55%);
  --purple: hsl(264, 64%, 52%);
  --yellow: hsl(43, 84%, 65%);

  /* Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--very-dark-blue);
  font-family: "Rubik", sans-serif;
  color: var(--white);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* AUTHOR CARD */

.container {
  margin-top: 10em;
}

.author-card {
  min-width: 300px;
  position: relative;
}

.author-info {
  width: 100%;
  min-height: 160px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
}

.author-img {
  width: 5em;
  height: 5em;
  border: 3px solid var(--white);
  border-radius: 50%;
}

h1 {
  color: var(--pale-blue);
  font-weight: 400;
  font-size: 1rem;
}

span {
  display: block;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 300;
}

/* AUTHOR CARD TIME INTERVAL BUTTONS */

.time-interval-buttons {
  display: flex;
  justify-content: space-around;
  align-items: end;
  background-color: var(--dark-blue);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 12px;
  height: 160px;
  z-index: 1;
}

.interval-btn {
  color: var(--desaturated-blue);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.interval-btn:hover {
  color: var(--white);
}

/* ACTIVITY CARD BACKGROUNDS */

.work-bg {
  background-color: var(--orange);
}

.play-bg {
  background-color: var(--soft-blue);
}

.study-bg {
  background-color: var(--red);
}

.exercise-bg {
  background-color: var(--green);
}

.social-bg {
  background-color: var(--purple);
}

.self-care-bg {
  background-color: var(--yellow);
}

/* ACTIVITY CARDS */

.card-wrapper {
  position: relative;
  margin-bottom: 4em;
}

.icon-card,
.info-card {
  border-radius: 12px;
  width: 100%;
  max-width: 327px;
}

.icon-card {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: 120px;
  z-index: 1;
}

.icon {
  height: 78px;
  width: 78px;
  margin-right: 0.5em;
  margin-top: -10px;
}

.info-card {
  background-color: var(--dark-blue);
  height: 130px;

  position: absolute;
  top: 35px;
  z-index: 2;

  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5em;
}

.title-div {
  display: flex;
}

h2 {
  font-size: 1rem;
}

/* MEDIA QUERY */

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 1.3em;
  }

  .author-card {
    flex-direction: column;
    min-width: 0;
  }

  .author-info {
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5em 0 3em 0;
  }

  .author-info > img,
  .author-info > div {
    margin: 0 0.4em 0 1.5em;
  }

  .author-info > img {
    margin-bottom: 1em;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.3em;
  }

  .icon-card,
  .info-card {
    width: 255px;
  }

  .time-interval-buttons {
    width: 200px;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 1em;
  }

  .interval-btn {
    margin-left: 1em;
  }
}
